# Compiled Gems
*.gem

# Dependency directories
/.bundle/
/vendor/bundle/
/lib/bundler/man/

# Build artifacts
/pkg/
/doc/

# SQLite Databases
/db/*.db
/db/*.sqlite3

# Environment Variables
.env

# IDE and System Files
.ruby-lsp/
.vscode/
.idea/
.DS_Store
.ruby-version
.ruby-gemset

# Logs and temporary files
/log/*.log
/tmp/